* {
    box-sizing: border-box;
}

img {
    max-width: 400px;
    min-width: 400px;
}

.red_outline {
    border: 1px solid red;
    /*border-size: 1px;
    border-style: solid; 
    border-color: red;
    /*padding: 1px 3px 5px 4px; /* top right bottom left */
    padding: 20px 35px; /* top&bottom left&right */
    /* padding: 5px 4px 3px; top left&right bottom */
    margin: 10px;
}

#article1 {
    color: blue;
    font-family: sans-serif;
    color: #222222;

}

a {
    text-decoration: none;
    color: firebrick;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    color: yellow;
}

a:visited {
    color: green;
}